<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artify-Login</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block left-content" >
            <img src="\images\logo.jpeg" alt="" width="200px">
        </div>

          <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
              
              <div class="heading mb-4">
                <h4>Login into your account </h4>
              </div>
              <form action="/auth/login" method="post">
                <div class="form-input">
                  <span><i class="fa fa-envelope"></i></span>
                  <input type="email" name="login_mail" placeholder="Email Address" required>
                </div>
                <div class="form-input">
                  <span><i class="fa fa-lock"></i></span>
                  <input type="password" name="login_password" placeholder="Password" required>
                </div>

                {{#if message }}
                  <div class='container text-center font-weight-bold'><p class='alert alert-danger p-0'>{{message}}</p></div> 
                {{/if}}

                <div class="row mb-3">
                  <div class="col-6 d-flex">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cb1">
                      <label class="custom-control-label text-white" for="cb1">Remember me</label>
                    </div>
                  </div>
                  <div class="col-6 text-right">
                    <a href="/forgot" class="forget-link">Forgot Password ?</a>
                  </div>
                </div>
                <div class="text-left mb-3">
                  <button type="submit"  class="btn" name="login-submit">Login</button>
                </div>
                <div class="text-center mb-2">
                  <div class="mb-3" style="color: #777"> Or Login With
                  </div>
                  <!--<a href="#" class="btn btn-social btn-facebook">facebook</a>-->
                  <a href="#" class="btn btn-social btn-google">Google</a>
                  <a href="#" class="btn btn-social btn-twitter">twitter</a>
                </div>
                <div style="color: #77">Don't have a account?
                  <a href="/register" class="register-link">Register Here</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>